

/* 프로필 작성 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이를 100%로 설정하여 화면 중앙에 정렬 */
}

h2 {
    text-align: center;
    margin-top: 0;
    color: #333;
}

#profile-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 80%; /* 폼 너비 조정 */
    max-width: 400px; /* 폼의 최대 너비 */
    text-align: center; /* 폼 내 요소 가운데 정렬 */
    margin: 20px; /* 폼과 주변 요소 사이 여백 조정 */
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="button"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #555;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#profile-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin: 20px;
}

#home-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* 버튼 위 여백 조정 */
}

#home-button:hover {
    background-color: #555;
}